/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
/* BASIC STYLINGS
============================================================================= */
body {
  padding-top:120px;
}
pre {
  margin-bottom:20px;
}

/* form styling */
#form-container {
  background:#2f2f2f;
  margin-bottom:20px;
  border-radius:5px;
}
#form-container .page-header {
  background:#151515;
  margin:0;
  padding:30px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a {
  color:#FFF;
  display:inline-block;
  font-size:24px;
  margin-right:40px;
  text-align:center;
  /*padding-top: 15px;*/
  /*margin-top: 10px;*/
  font-family: 'Niconne';
}
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span {
  background:#080808;
  display:block;
  height:30px;
  margin:0 auto 10px;
  /*padding-top:5px;*/
  /*padding-bottom: 5px;*/
  width:30px;
  border-radius:50%;
}

/* active buttons */
#status-buttons a.active span   { background:#696969; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to    { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
  to    { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(200%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(200%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(200%); }
  to    { -webkit-transform: translateX(0); }
}
/*
#nav  {
  color: #222222 !important;
  font-family: 'Playball' !important;
  font-size: 1.3em !important;
}*/
.navbar-brand {
  font-size: 1.65em;
  font-family: 'Niconne';
  padding-left: 40px;
}
.navbar-default {
    background-color: #222222;
    border-color: #222222;
    font-size: 1.3em;
}
/*
.navbar-brand {

}*/
/*
.navbar-inner
{
  background: none !important;
}*/


.banner
{
  /*background:linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(./public/bigstock-Vintage-Movie-Ending-Screen-37878040.jpg) no-repeat fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
  background-size: cover;*/
  padding: 30px 0px 0px 0px;
  /*background-color: #3d454a;*/
  cursor: default;
}
.banner-text
{
  width: 70%;
  margin: 0 auto;
  /*padding:80px 0px;*/
}
.banner-text h2
{
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  padding-left: 40px;
}
.banner-text h2 span
{
  font-weight: 400;
}
p.under-tagline
{
  color: #FFF;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin-top: 150px;
  /*background: rgba(170, 170, 170, .6);*/
  padding-top: 0px;
  padding-left: 40px;
}
