<div class="form-group">
    <label for="singleSelect"> What kinda Bitterly do you want to send? </label><br>
    <br>
        <select class="form-control" name="singleSelect" ng-model="formData.messageType">
            <!-- <option selected disabled>Choose here</option> -->
            <option value="breakup">Breakup</option>
            <option value="angry">Angry</option>
        </select>
        <br>

    <div ng-show="formData.messageType === 'breakup'">

        <select class="form-control" name="typeSelect" ng-model="formData.message">
            <!-- <option selected>Choose here</option> -->
            <option value="You’re perfect in every way, just not for me">
                You’re perfect in every way, just not for me.
            </option>
            <option value="Really, our time together has just become more effort than you’re worth.">
                Really, our time together has just become more effort than you’re worth.
            </option>
        </select>
        <br>

    </div>

    <div ng-show="formData.messageType === 'angry'">

        <select class="form-control" name="typeSelect" ng-model="formData.message">
            <!-- <option selected disabled>Choose here</option> -->
            <option value="You must have been born on a highway, because that's where most accidents happen.">
                You must have been born on a highway, because that's where most accidents happen.

            </option>
            <option value="Do you have to leave so soon? I was just about to poison the tea.">
                Do you have to leave so soon? I was just about to poison the tea.

            </option>
        </select>
        <br>

    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.payment" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
