


    <div class="banner">

            <div class="banner-text">
                  <h2 class="tagline">
                    <span>Bitterly...</span>
                    <br>
                    ...because <span>breaking up</span> is hard.
                  </h2>
                    <p class="under-tagline">
                        Choose from our great selection of lines that make this horribly, unfun act, just a little bit easier. Currently, we are offering text and email delivery but hope to have a phone call system set up soon.
                    </p>
            </div>

    </div>


  <!-- show our formData as it is being typed -->


